# =========================
# Visual Studio / .NET
# =========================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# Build folders
# =========================
bin/
obj/

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db